* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  position: relative;
}

body {
  background-color: #d4dbf2;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}

#hero {
  width: 100%;
  height: 150px;
  background-image: url("../imagens/hero.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;

  color: #012952;
  font-size: 90px;
  font-style: oblique;
}
h1 {
  color: #012952;
  font-size: 90px;
  text-align: center;
  background-color: #6585a8;
  font-style: oblique;
  margin: 0;
  padding: 10px;
}

h2 {
  color: #012952;
  font-size: 32px;
  text-align: center;
}

p {
  color: #001d39;
  font-size: 20px;
}

a {
  color: #39516a;
  text-decoration: none;
  font-size: 20px;
}

a:hover{
    font-size: 21px;
    font-weight: bold;
}

.centro {
  margin: 40px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu {
  background-color: #394f6a;
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  a {
    color: white;
  }
}

.oque_leis {
  display: flex;
  justify-content: space-between;
}
.o-que-e {
  margin: 65px;
  background-color: #7da0c6;
  text-align: left;
  width: 45%;
  min-height: 350px;
  border: 2px solid #5e7b9a;
  border-radius: 5px;
  padding: 20px;
}

.o-que-e h2 {
  text-align: left;
  margin: 0 0 20px 20px;
}

.o-que-e h2:hover{
  color: #021d37;
}

.o-que-e p {
  font-size: 19px;
  margin: 20px;
  text-align: justify;
}

.o-que-e img {
  float: right;
  width: 200px;
  height: auto;
  margin: 0 20px 10px 20px;
  border: 2px solid #6d93bb;
  border-radius: 7px;
}

.o-que-e img:hover{
  border: 4px solid #5c82aa;
}

.leis {
  margin: 65px;
  background-color: #7da0c6;
  text-align: left;
  width: 45%;
  min-height: 350px;
  border: 2px solid #5e7b9a;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.leis h2 {
  text-align: left;
  margin: 0 0 20px 20px;
}

.leis h2:hover{
  color: #021d37;
}

.leis p {
  font-size: 19px;
  margin: 20px;
  text-align: justify;
}

.leis img {
  float: right;
  width: 200px;
  height: auto;
  margin: 0 20px 10px 20px;
  border: 2px solid #6d93bb;
  border-radius: 7px;
}

.leis img:hover{
  border: 4px solid #5c82aa;
}

.historia {
  margin: 70px;
  text-align: left;
  width: 91%;
  height: 530px;
  border: 2px solid #5e7b9a;
  border-radius: 5px;
  background-image: url("../imagens/linha_do_tempo2.png");
  background-size: 88%;
  background-position: center;
}

.videos {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #4e6e8f;
  border-bottom: 10px solid #39516a;
  border-top: 10px solid #39516a;
  border-radius: 3px;
  width: 55%;
}

.fundo {
  background-color: #6585a8;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu-item {
  display: inline-block;
  color: #002346;
  padding: 18px 33px;
  margin: 20px;
  background-color: #a2bcdf;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
  font-size: 25px;
}

.menu-item:hover{
    padding: 19px 34px;
    background-color: #8aa5c8 ;
}

.submenu {
  text-align: center;
  background-color: #7a97bc;
  padding: 23px;
  margin-top: 5px;
  min-width: 100px;
  border-radius: 5px;
}

.submenu a {
  margin: 4px 0;
  padding: 5px;
  color: #002346;
  text-decoration: none;
  text-align: center;
}

.submenu p {
  text-indent: 0px;
}

summary {
  cursor: pointer;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}





.fundoVideo {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#videoExpandido {
    width: 90%;
    max-width: 1100px;
    max-height: 80vh;
}



#nomeVideo {
    color: white;

    font-size: 25px;

    margin-top: 15px;

    text-align: center;
}


.fecharVideo {
    position: absolute;

    top: 20px;
    right: 35px;

    color: white;

    font-size: 45px;
    font-weight: bold;

    cursor: pointer;
}


.fecharVideo:hover {
    color: #ccc;
}

footer{
  display: flex;
  background-color: #39516a;
  padding: 10px;
  height: 78px;
}
footer img{
  height: 50px;
}

footer p{
  margin-left: 450px;
  text-align: center;
  color: white;
}


.Voltar {
  background-color: #6585a8;
  text-align: center;
  padding: 10px 270px;
  margin: 10px 0;
  border-radius: 10px;
  color: #d4dbf2;
  a {
    color: #d4dbf2;
  }
}

.iniciais{
  display: flex;
  justify-content: space-around;
}

.resto .Voltar{
  padding:  10px 150px;
}

.resto{
  display: flex;
  justify-content: space-around;
}